{% extends "base.html" %}

{% block content %}
<h2>Libros</h2>
{% if session.get("rol") == "admin" %}
<h3>Agregar libro</h3>

    <form method="POST">
        <input type="text" name="titulo" placeholder="Título" required><br>
        <input type="text" name="autor" placeholder="Autor" required><br>
        <input type="text" name="editorial" placeholder="Editorial"><br>
        <input type="number" name="anio" placeholder="Año de publicación"><br>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>


<hr>
{% endif %}

<h3>Lista de libros</h3>
<table border="1">
    <tr>
        <th>Título</th>
        <th>Autor</th>
        <th>Editorial</th>
        <th>Año</th>
    </tr>

    {% for libro in libros %}
    <tr>
        <td>{{ libro.titulo }}</td>
        <td>{{ libro.autor }}</td>
        <td>{{ libro.editorial }}</td>
        <td>{{ libro.anio_publicacion }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
